.button {
	display: inline-block;
	background: $blue;
	color:white;
	border: none;
	padding: $s-size;
	font-weight: 300;
	font-size: $font-size-large;
	text-decoration: none;
	line-height: 1;
}

.button--link {				// in BEM: -- means modifier, as in Block__Element--Modifier
	background: none;
}

.button--secondary {
	background: #888888;
}