.text-input {
	border: 1px solid #cacccd;
	height: 50px;
	padding: $s-size;
	font-size: $font-size-large;
	font-weight: 300;
}

.text-input--no-bottom-margin {
	margin-bottom: 0px !important;
}

.textarea {
	@extend .text-input;				// Pull-in the styles from .text-input. Similar to doing: .text-input, .select { styles; }
	height: 10rem;						// Can override as well
}

.select {
	@extend .text-input;
}

.input--grey-focus:focus {				// Override the focus ring to be less stark (not black)
	outline: none !important;
	border: 2px solid $medium-grey;
	border-radius: 2px;
}