.page-header {
	background: $off-white;
	margin-bottom: $l-size;
	padding: $l-size 0;
}

.page-header__actions {
	margin-top: $m-size;
}

.page-header__title {
	margin: 0;
	font-weight: 300;
	span {						// target all SPANs inside the parent class
		font-weight: bold;		// same as 700
	}
}

.page-header__message {
	font-size: $font-size-small;
	margin: 0;
	padding: 0;
}