// Colours
$dark-grey: #333333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;					// = 12px with our font-size: 62.5%; trick in _base.scss
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;			// This is the regular 16px-base-font * 45 = 720px (not 450px) for @media queries (not HTML size)
